.nav, .pagination, .fa, .panel-title a { cursor:pointer ; }
#map {
    height: 100%;
}

.panel {
    height: 100vh;
}

.panel-title{
    padding-top: 7.5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 50%;
}

select {
    margin-top: 7.5px;
    color: black;
}

.sortorder:after {
    content: '\25b2';
}
.sortorder.reverse:after {
    content: '\25bc';
}