    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="col-md-1" ng-click="orderBy('username')">username <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th ng-click="orderBy('tel')">tel <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th ng-click="orderBy('adresse')">adresse <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th ng-click="orderBy('volume')">volume <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th ng-click="orderBy('rdv')">rdv <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th ng-click="orderBy('etat')">etat <i class="fa fa-sort" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in res | orderBy:ordre ">
                <td>{{x.username}}</td>
                <td>{{x.tel}}</td>
                <td>{{x.adresse}}</td>
                <td>{{x.volume}}</td>
                <td>{{x.rdv | date:'dd-MM-yyyy à h:mm' }}</td>
                <td><input type="checkbox" ng-model=x.etat ng-click="update(x)"></tr>
            </tr>
        </tbody>
    </table>