<div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Panel header</h4>
      <div class="">
        <select ng-model="template" ng-options="t.name for t in templates">
        </select>
        <a href="/" class="btn btn-primary pull-right" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </div>
    </div>

  <div class="slide-animate-container">
    <div class="slide-animate" ng-include="template.url"></div>
  </div>
  <div ng-if="template.name == 'carte'" id="map"></div>
</div>