
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading without title</div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item"><a href="/#!/main">main</a></li>
        <li class="list-group-item"><a href="/#!/rdv">rdv</a></li>
        <li active class="list-group-item"><a href="/#!/mobile">mobile</a></li>
        <li disabled class="list-group-item"><a href="/#!/admin">admin</a></li>
    </ul>
</div>