
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Register with:</h4>
      <div class="btn-group pull-right">
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
      </div>
    </div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item"><a href="/#!/rdv">rdv</a></li>
        <li class="list-group-item"><a href="/#!/mobile">mobile</a></li>
        <li class="list-group-item"><a href="/#!/admin">admin</a></li>
        <li class="list-group-item"><a href="/social">social</a></li>
    </ul>
</div>